@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* React Split styles */
.gutter {
  background-color: var(--pg-border);
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color 0.2s;
}

.gutter:hover {
  background-color: var(--pg-border-light);
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}