spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/optima
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8083

logging:
  level:
    com.optima: DEBUG
    org.hibernate.SQL: DEBUG
